<div class="row">
    <div class="col-md-6 d-flex align-items-center mb-md-4">
        <button mat-mini-fab color="primary" routerLink="/country-list">
            <mat-icon>keyboard_backspace</mat-icon>
          </button>
        <h2 class="m-0 ml-4">Covid status data</h2>
    </div>
    <div class="col-md-6 text-right">
        <!-- <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Search..">
        </mat-form-field>
    </div> -->
</div>

<mat-card>
    <div>
       <table>
           <tr>
               <th style="width: 10%;">S.No</th>
               <th>Country Name</th>
               <th style="text-align: center;">Confirmed</th>
               <th style="text-align: center;">Recovered</th>
               <th style="text-align: center;">Deaths</th>
               <th style="text-align: center;">Last Update</th>
           </tr>
           <tr>
               <td>1</td>
               <td><span class="flag-icon flag-icon-{{countryCode | lowercase}} flag-icon-squared"></span>  {{name}}</td>
               <td style="text-align: center;">{{confirmed.value}}</td>
               <td style="text-align: center;">{{recovered.value}}</td>
               <td style="text-align: center;" style="color: #ff0000;text-align: center;">{{deaths.value}}</td>
               <td style="text-align: center;">{{lastUpdate | date:'medium'}}</td>
           </tr>
       </table>
    </div>
</mat-card>