
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$covid19-global-app-primary: mat-palette($mat-indigo);
$covid19-global-app-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$covid19-global-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$covid19-global-app-theme: mat-light-theme($covid19-global-app-primary, $covid19-global-app-accent, $covid19-global-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($covid19-global-app-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    background-color: #f1f1f1;
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    padding-top: 66px;
}
.main {
    padding:20px 50px 20px;
}

ul,li,h1,h2,h3,h4,h5,h6, p {
    margin: 0;
    padding: 0;
}

.mat-elevation-z8 {
    box-shadow: none;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    font-size: 14px;
    color: #000;
}

table {
    width:100%;
    box-shadow: none;
    table-layout: fixed;
}

.flag-icon:before {
    font-size: 30px;
}

.flag-icon.flag-icon-squared {
    width: 2.5em;
    margin-right: 5px;
    position: relative;
    top: 3px;
}

.example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .example-rate-limit-reached {
    color: #980000;
    max-width: 360px;
    text-align: center;
  }

  button {
      outline:none;
  }

//   media


@media(max-width:991px) {
    .main {
        padding: 20px 15px 20px;
    }
}

@media(max-width:991px) {
    .main {
        padding: 20px 0 20px;
    }

    table {
        width: 1300px!important;
    }
}

@media(max-width:767px) {
    
    .col-md-6.text-right {
        text-align: left!important;
        margin-top: 20px;
    }
}

@media(max-width:414px) {
    .mat-form-field {
        width: 100%!important;
    }
}